dotenv==0.9.9
gTTS
langchain
langchain-core 
langchain-openai
langgraph
matplotlib==3.10.0
numpy==2.2.5
openai 
openai-whisper 
pandas
playsound==1.3.0
PyAudio==0.2.14
requests==2.32.3
sounddevice==0.5.1
streamlit
torch==2.7.0
torchaudio==2.5.1
torchvision==0.20.1
